@media (min-width: 768px) {
    .container-fluid {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-control{
        text-transform:uppercase;
    }
}