body{
	font-size: 25px;
	font-family: 'OpenSans-Regular',Arial,sans-serif;
}

.imagenFondo{
	position: absolute;
	width:1100;
	height:92px;
	top: 0px;
	left: 0px;
    /*width: 100px; /* ancho de la imagen OPCIONAL */
    /*height: 10px; /* largo de la imagen OPCIONAL */
}
.fondo_fua{
	/*background-image:url(../../assets/css/images/FUA1.jpg);*/
	background-image:url(../images/fua_0001.jpg)
	background-repeat:no-repeat;
	background-position:center;
	background-size:100% 100%;
	height:1133px;
	width:794px;
}
.clase1 {
	position: absolute;
	top: 198px;
	left: 25px;
	width: 178px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align:center;
}
.clase2 {
	position: absolute;
	top: 198px;
	left: 290px;
	width: 468px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align:center;
}
.clase3 {
	position: absolute;
	top: 305px;
	left: 653px;
	width: 102px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase4 {
	position: absolute;
	top: 370px;
	left: 79px;
	width: 353px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform:uppercase;
}
.clase5 {
	position: absolute;
	top: 370px;
	left: 630px;
	width: 374px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.clase6 {
	position: absolute;
	top: 436px;
	left: 80px;
	width: 354px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.clase7 {
	position: absolute;
	top: 436px;
	left: 630px;
	width: 375px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.clase8 {
	position: absolute;
	top: 605px;
	left: 516px;
	width: 117px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 29px;
	text-transform: uppercase;
	text-align: center;
}
.clase9 {
	position: absolute;
	top: 499px;
	left: 301px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
}
.clase10 {
	position: absolute;
	top: 521px;
	left: 301px;
	width: 21px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
}
.clase11 {
	position: absolute;
	top: 513px;
	left: -2px;
	width: 31px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing:6px;
}
.clase12 {
	position: absolute;
	top: 513px;
	left: 34px;
	width: 27px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing:6px;
}
.clase13 {
	position: absolute;
	top: 513px;
	left: 76px;
	width: 34px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing:18px;
}
.clase14 {
	position: absolute;
	top: 680px;
	left: 255px;
	width: 119px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
}
.clase15 {
	position: absolute;
	top: 1305px;
	left: 25px;
	width: 124px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase16 {
	position: absolute;
	top: 1310px;
	left: 194px;
	width: 677px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase17 {
	position: absolute;
	top: 1320px;
	left: 891px;
	width: 137px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase18 {
	position: absolute;
	top: 1350px;
	left: 420px;
	width: 454px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase19 {
	position: absolute;
	top: 1159px;
	left: 13+px;
	width: 895px;
	height: 121px;
	vertical-align:top;
	border-collapse:collapse;
}
.clase20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.clase21 {
	position: absolute;
	top: 1439px;
	left: 80px;
	width: 738px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
}
.clase22 {
	position: absolute;
	top: 1464px;
	left: 80px;
	width: 738px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
}
.clase23 {
	position: absolute;
	top: 1489px;
	left: 80px;
	width: 738px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: left;
}
.clase24 {
	position: absolute;
	top: 1389px;
	left: 958px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.clase25 {
	position: absolute;
	top: 1414px;
	left: 958px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.clase26 {
	position: absolute;
	top: 1439px;
	left: 958px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.clase27 {
	position: absolute;
	top: 1464px;
	left: 958px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.clase28 {
	position: absolute;
	top: 1489px;
	left: 958px;
	width: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	text-align: center;
}
.clase29 {
	position: absolute;
	top: 1380px;
	left: 856px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase30 {
	position: absolute;
	top: 1405px;
	left: 856px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase31 {
	position: absolute;
	top: 1430px;
	left: 856px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase32 {
	position: absolute;
	top: 1455px;
	left: 856px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase33 {
	position: absolute;
	top: 1480px;
	left: 856px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase34 {
	position: absolute;
	top: 1380px;
	left: 882px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase35 {
	position: absolute;
	top: 1405px;
	left: 882px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase36 {
	position: absolute;
	top: 1430px;
	left: 882px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase37 {
	position: absolute;
	top: 1455px;
	left: 882px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase38 {
	position: absolute;
	top: 1480px;
	left: 882px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase39 {
	position: absolute;
	top: 1380px;
	left: 907px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase40 {
	position: absolute;
	top: 1405px;
	left: 907px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase41 {
	position: absolute;
	top: 1430px;
	left: 907px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase42 {
	position: absolute;
	top: 1455px;
	left: 907px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase43 {
	position: absolute;
	top: 1480px;
	left: 907px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 26px;
	text-align: center;
}
.clase44 {
	position: absolute;
	top: 303px;
	left: 352px;
	width: 179px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-align: center;
}
.clase45 {
	position: absolute;
	top: 595px;
	left: 455px;
	width: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
}
.clase46 {
	position: absolute;
	top: 614px;
	left: -2px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing:6px;
}
.clase47 {
	position: absolute;
	top: 614px;
	left: 35px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing:6px;
}
.clase48 {
	position: absolute;
	top: 614px;
	left: 121px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 23px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing:17px;
}
.clase49 {
	position: absolute;
	top: 607px;
	left: 185px;
	width: 58px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}
.clase50 {
	position: absolute;
	top: 607px;
	left: 245px;
	width: 62px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
}
.clase51 {
	position: absolute;
	top: 679px;
	left: 138px;
	width: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
.clase52 {
	position: absolute;
	top: 500px;
	left: 855px;
	width: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 19px;
	text-transform: uppercase;
	text-align: center;
}
.clase53 {
	position: absolute;
	top: 499px;
	left: 452px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
.clase54 {
	position: absolute;
	top: 521px;
	left: 452px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
.clase55 {
	position: absolute;
	top: 169px;
	left: 612px;
	width: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase56 {
	position: absolute;
	top: 151px;
	left: 239px;
	width: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	text-align: center;
}
.clase57 {
	position: absolute;
	top: 170px;
	left: 297px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
.clase58 {
	position: absolute;
	top: 152px;
	left: 65px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.clase59 {
	position: absolute;
	top: 170px;
	left: 65px;
	width: 42px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
.clase60 {
	position: absolute;
	top: 169px;
	left: 358px;
	width: 28px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}
.clase61 {
	position: absolute;
	top: 306px;
	left: 600px;
	width: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 21px;
	text-align: center;
}
.clase62 {
	position: absolute;
	top: 275px;
	left: 242px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
}
.clase63 {
	position: absolute;
	top: 275px;
	left: 81px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
}
.clase64 {
	position: absolute;
	top: 305px;
	left: 81px;
	width: 22px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	text-align: left;
}
